<html>
<head>
    <meta charset="UTF-8" />
    <title>Upload File with Dropwizard</title>
</head>
<body>
    <h1>Upload File with Dropwizard</h1>
    <form action="/xxxx/aaa?a=b" method="post" enctype="multipart/form-data">
       <input type="text" value="somethign here" name="param1"/>
       <input type="hidden" value="xxxx" name="hidden2"/>
       
       <p>
        Choose a file: <input type="file" name="file" />
       </p>
       
       <input type="submit" value="Upload" />
    </form>
</body>
</html>